* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header img {
  width: 100%;
  height: 100%;
}

.header {
  position: relative;
  width: 100%;
  height: 110vh;
  background: url("./img/slider.webp") top center / cover no-repeat;
}

.nav ul li {
  margin: 0 10px;
  display: inline-block;
  color: rgba(221, 221, 221, 0.664);
}

.nav ul li:nth-child(1) {
  color: #fff;
}

.nav ul {
  text-align: center;
}
