* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header img {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 110vh;
  background: url("./img/slider.webp") no-repeat / top-cover;
}
