* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header img {
  width: 100%;
  height: 100%;
}

.header {
  position: relative;
  width: 100%;
  height: 110vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/slider.webp") top center / cover no-repeat;
}

.nav ul li {
  transition: 0.2s;
  margin: 0 10px;
  display: inline-block;
  color: rgba(221, 221, 221, 0.705);
}

.nav li:hover {
  transition: 0.2s;
  color: #fff;
}

.nav ul li:nth-child(1) {
  color: #fff;
}

.nav ul {
  text-align: center;
}

ul .fa-chevron-down {
  font-size: 10px;
}

.nav ul li:nth-child(2) {
  position: relative;
}

.sub-nav {
  margin-top: 10px;
  border-radius: 10px;
  background: #fff;
  height: 130px;
  width: 180px;
  position: absolute;
  color: #000;
}

.sub-nav span {
  padding-right: 70px;
  padding-top: 20px;
  display: block;
}

.sub-nav span .fa-angle-right {
  position: absolute;
  right: 20px;
}

.sub-nav span:nth-child(3) {
  position: relative;
}

.sub-nav-two {
  margin-left: 180px;
  background: #fff;
  height: 130px;
  width: 180px;
  position: absolute;
  border-radius: 10px;
  color: #000;
}
