* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* scroll-behavior: smooth; */
}

html::-webkit-scrollbar {
  width: 0;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  position: fixed;
  box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
  z-index: 9999;
}

.slide {
  width: 100%;
  height: 100%;
  background: #c8ebff;
}

.slide h3 {
  position: absolute;
  right: 250px;
  top: 250px;
  font-family: "Yellowtail", "cursive";
  color: #2577fd;
  font-size: 40px;
}

.slide h2 {
  position: absolute;
  right: 85px;
  top: 300px;
  font-size: 100px;
}

.slide p {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 20px;
  position: absolute;
  right: 250px;
  top: 530px;
}

.shop-now {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 330px;
  top: 600px;
  color: #fff;
  font-size: 20px;
  width: 150px;
  height: 50px;
  background: #2577fd;
}

.shop-now::before {
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 20px;
  opacity: 0.4;
  content: " ";
  width: 0px;
  height: 50px;
  background: #00b1ff;
  transition: 0.5s;
}

.shop-now:hover::before {
  width: 150px;
  transition: 0.5s;
  border-radius: 20px;
}

.logo {
  margin-left: 20px;
  margin-top: 40px;
  display: inline-block;
}

.header ul {
  margin-top: -45px;
  margin-left: 280px;
}

.header li:nth-child(3) {
  position: relative;
}

.header li:nth-child(4) {
  position: relative;
  margin-left: 0px;
}

.header li:nth-child(5) {
  position: relative;
}

.header li:nth-child(3) p {
  width: 40px;
  background: #dc3545;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0 7px;
  margin-left: 30px;
  border-radius: 10px;
  height: auto;
}

.header ul li {
  font-size: 18px;
  margin-left: 10px;
  display: inline-block;
  font-weight: 500;
  padding: 0 10px;
}
.header ul li:hover {
  transition: 0.3s;
  color: #dc3545;
}

.header a {
  text-decoration: none;
  color: #000;
}

.header {
  z-index: 10;
}

.sub-nav span {
  margin-left: 15px;
  margin-top: 15px;
  display: block;
  color: #000;
}

.sub-nav2 span {
  margin-left: 15px;
  margin-top: 15px;
  display: block;
  color: #000;
}
.sub-nav3 span {
  margin-left: 15px;
  margin-top: 15px;
  display: block;
  color: #000;
}

.sub-nav span:hover {
  color: #dc3545;
}

.sub-nav2 span:hover {
  color: #dc3545;
}

.sub-nav3 span:hover {
  color: #dc3545;
}

.sub-nav {
  border-top: 5px solid #dc3545;
  position: absolute;
  top: 70px;
  left: -300px;
  background: #fff;
  width: 150px;
  height: 100px;
  opacity: 0;
  transition: 0.3s;
  box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
}

.sub-nav2 {
  border-top: 5px solid #dc3545;
  position: absolute;
  top: 70px;
  left: -300px;
  background: #fff;
  width: 150px;
  height: 100px;
  opacity: 0;
  transition: 0.3s;
  box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
}

.sub-nav3 {
  border-top: 5px solid #dc3545;
  position: absolute;
  top: 70px;
  /* top: -200px; */
  left: -300px;
  background: #fff;
  width: 180px;
  height: 280px;
  opacity: 0;
  transition: 0.3s;
  z-index: 10;
  box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
}

.header li:nth-child(3):hover .sub-nav {
  position: absolute;
  top: 130px;
  transition: 0.3s;
  opacity: 1;
}

.page {
  width: auto;
  height: 40px;
}

.page span:hover {
  color: #f00;
}

.page:hover .sub-nav-page {
  position: absolute;
  /* top: 65px; */
  top: 40px;
  transition: 0.4s;
  display: block;
  visibility: inherit;
}

.sub-nav-page {
  position: absolute;
  width: 150px;
  height: 200px;
  background-color: #fff;
  border-top: 5px solid #f00;
  visibility: hidden;
  top: 25px;
  color: #000;
  transition: 0.4s;
}

.sub-nav-page span {
  display: block;
  line-height: 1.5;
  margin-left: 15px;
}
.header li:nth-child(5):hover .sub-nav3 {
  position: absolute;
  top: 110px;

  transition: 0.4s;

  opacity: 1;
}

.sub-nav-latest {
  position: absolute;
  width: 150px;
  height: auto;
  background-color: #fff;
  border-top: 5px solid #f00;
  visibility: hidden;
  top: 45px;
  transition: 0.4s;
}

.lates {
  width: 50px;
  height: 50px;
  background-color: #2577fd;
}

.latest:hover .sub-nav-latest {
  visibility: inherit;
  top: 60px;
  transition: 0.3s;
}

.latest:hover span {
  color: #000;
}

.sub-nav-latest span {
  display: block;
  line-height: 1.5;
  margin-left: 15px;
}

.search input {
  width: 150px;
  margin-left: 850px;
  position: absolute;
  top: 30px;
  border-radius: 20px;
  border: 1px solid #000;
  height: 45px;
  padding-left: 20px;
}

.search .fa-search {
  position: absolute;
  margin-left: 970px;
  top: 45px;
}

.icon-header {
  /* position: absolute;
  right: 150px;
} */
}
.icon-header .fa-heart {
  position: absolute;
  top: 27.5px;
  right: 200px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  height: 50px;
  border-radius: 50%;
  font-size: 17px;
  transition: 0.3s;
}

.icon-header .fa-heart:hover {
  transition: 0.3s;

  transform: scale(1.1);
}

.icon-header .fa-shopping-cart {
  position: absolute;
  top: 27.5px;
  right: 130px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  height: 50px;
  border-radius: 50%;
  font-size: 17px;
  transition: 0.3s;
}

.icon-header .fas:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

.sign {
  position: absolute;
  right: 10px;
  top: 27.5px;
  width: 110px;
  height: 45px;
  background: #2577fd;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  transition: 0.2s;
}

.sign:hover {
  background-color: #2578fdc2;
  transition: 0.2s;
}

.content {
  width: 100%;
  height: 2000px;
  background-color: #fff;
  /* text-align: center; */
  position: relative;
}

.content h2 {
  margin-top: 50px;
  font-size: 50px;
  position: absolute;
  transform: translate(-50%);
  left: 50%;
}

.img-content {
  width: 100%;
  height: auto;
  margin-top: 100px;
}

.img-content img {
  margin-top: 150px;
  width: 100%;
  height: 100%;
}

.Latest-Products h3 {
  height: auto;
  width: 90%;
  margin-top: 100px;
  font-size: 50px;
  position: absolute;
  left: 70px;
  border-bottom: #000 1px solid;
  padding-left: -50px;
}

.box-product {
  position: absolute;
  margin-top: 250px;
  margin-left: 70px;
}

.box-product2 {
  position: absolute;
  margin-top: 250px;
  margin-left: 455px;
}

.box-product3 {
  position: absolute;
  margin-top: 250px;
  margin-left: 840px;
}

.box-product4 {
  position: absolute;
  margin-top: 850px;
  margin-left: 70px;
}

.box-product5 {
  position: absolute;
  margin-top: 850px;
  margin-left: 455px;
}

.box-product6 {
  position: absolute;
  margin-top: 850px;
  margin-left: 840px;
}

.box-product1-1 {
  position: absolute;
  margin-top: 250px;
  margin-left: 70px;
}

.box-product2-2 {
  position: absolute;
  margin-left: 455px;
  margin-top: 850px;
}

.box-product3-3 {
  position: absolute;
  margin-top: 250px;
  margin-left: 455px;
}

.box-product4-4 {
  position: absolute;
  margin-top: 850px;
  margin-left: 840px;
}

.box-product5-5 {
  position: absolute;
  margin-top: 250px;
  margin-left: 840px;
}

.box-product6-6 {
  position: absolute;
  margin-top: 850px;
  margin-left: 70px;
}

.review-product {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.review-product .fa-star {
  padding: 0 5px;
}

.review-product .fa-star:nth-child(1) {
  color: #ffbc12;
}
.review-product .fa-star:nth-child(2) {
  color: #ffbc12;
}

.review-product .fa-star:nth-child(3) {
  color: #ffbc12;
}

.review-product .fa-star:nth-child(4) {
  color: #8888;
}

.review-product .fa-star:nth-child(5) {
  color: #8888;
}

.sub-review {
  font-size: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deal {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deal span {
  margin-left: 15px;
  color: #dc3545;
  text-decoration: line-through;
}

.Latest-Products ul {
  margin-top: 120px;
  position: absolute;
  right: 70px;
}

.Latest-Products ul li {
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  margin: 0 10px;
  transition: 0.3s;
}

.Latest-Products ul li:hover {
  color: #dc3545;
  transition: 0.3s;
}

.list-produce.vitriaomot {
  display: none;
}

.list-produce2 {
  display: none;
}

.list-produce2 {
  display: none;
}

.list-produce2.themvitrihai {
  display: block;
}

.content-2 {
  width: 90%;
  margin-left: 5%;
  height: 100vh;
  background-color: #fff7d8;
}

.content-2 img {
  margin-top: -100px;
  position: absolute;
  left: 200px;
}

.content-2 h2 {
  position: absolute;
  font-size: 50px;
  margin-top: 160px;
  right: 180px;
}

.content-2 p {
  position: absolute;
  font-size: 25px;
  margin-top: 290px;
  font-weight: 500;
  right: 170px;
}

.content-2 a {
  width: 180px;
  height: 50px;
  border-radius: 25px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  letter-spacing: 1px;
  position: absolute;
  margin-top: 390px;
  right: 480px;
  transition: 0.3s;
}

.content-2 a:hover {
  transition: 0.3s;
  margin-top: 380px;
}

.img-content-2 {
  position: absolute;
  margin-top: 500px;
  margin-left: 700px;
}

.content-3 img {
  margin-top: 200px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.content-3 h2 {
  position: absolute;
  margin-left: 50px;
  margin-top: 350px;
  font-size: 50px;
}

.content-3 p {
  position: absolute;
  margin-left: 50px;
  margin-top: 480px;
  font-size: 25px;
}

.content-3 a {
  position: absolute;
  border-radius: 25px;
  margin-left: 50px;
  margin-top: 550px;
  width: 190px;
  height: 50px;
  background-color: #2577fd;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.content-3 span {
  position: absolute;
  margin-top: 550px;
  right: 250px;
  font-size: 25px;
}

.img-quan-content-3 {
  position: absolute;
  margin-left: 200px;
  margin-top: 540px;
}

.img-ao-content3 {
  position: absolute;
  right: 150px;
  margin-top: 300px;
}

.img-ao-content3-4 {
  position: absolute;
  right: 150px;
  margin-top: 450px;
}

.content-3 p:nth-child(2) {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  margin-top: 200px;
  right: 100px;
  font-size: 25px;
  width: 200px;
  height: 100px;
  background: #2577fd;
}

.img-ao-content3-5 {
  position: absolute;
  right: 150px;
  margin-top: 600px;
}

.content-4 {
  margin-top: 1100px;
  background: #dff1ff;
  height: 400px;
  margin-left: 5%;
  width: 90%;
}

.content-4-1 {
  /* margin-top: -500px; */
  position: absolute;
  top: 2000px;
  background: #dff1ff;
  height: 400px;
  margin-left: 5%;
  width: 90%;
}

.content-4 h2 {
  position: absolute;
  margin-top: 100px;
  margin-left: 100px;
  font-size: 50px;
}

.content-4-1 h2 {
  position: absolute;
  margin-top: 100px;
  margin-left: 100px;
  font-size: 50px;
}

.content-4 p {
  position: absolute;
  margin-top: 230px;
  margin-left: 100px;
  font-size: 25px;
}

.content-4-1 p {
  position: absolute;
  margin-top: 230px;
  margin-left: 100px;
  font-size: 25px;
}

.content-4 input {
  position: absolute;
  right: 200px;
  margin-top: 160px;
  width: 350px;
  border-radius: 20px;
  height: 56px;
  border: none;
  padding-left: 50px;
  font-size: 17px;
}

.content-4-1 input {
  position: absolute;
  right: 200px;
  margin-top: 160px;
  width: 350px;
  border-radius: 20px;
  height: 56px;
  border: none;
  padding-left: 50px;
  font-size: 17px;
}

.shopnow-input {
  width: 150px;
  height: 56px;
  background: #2577fd;
  border-radius: 25px;
  position: absolute;
  right: 150px;
  margin-top: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
}

.content-5 {
  width: 100%;
  height: 90vh;
}

.box-content-5 {
  margin-top: 100px;
  margin-left: 100px;
  width: 300px;
  height: 250px;
  display: inline-block;
}

.box-content-5 h2 {
  margin-top: 50px;
  font-size: 25px;
}

.box-content-5 p {
  margin-top: 20px;
  font-size: 20px;
  width: 250px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.753);
}

.box-content-5 .fa-box {
  font-size: 40px;
}

.box-content-5 .fa-unlock-alt {
  font-size: 40px;
}

.box-content-5 .fa-sync-alt {
  font-size: 40px;
}

.content-6 {
  width: 100%;
  height: auto;
}

.content-6 img {
  width: 100%;
  height: 100%;
}

.footer {
  width: 100%;
  position: relative;
  height: 90vh;
}

.es-store {
  margin-top: 100px;
  width: 275px;
  height: 220px;
  margin-left: 100px;
  display: inline-block;
}

.es-store h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.es-store p {
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-size: 19px;
  color: #868c98;
}

.Quick-Links {
  margin-top: 100px;
  margin-left: 50px;
  position: absolute;
  width: 250px;
  height: 200px;
  display: inline-block;
}

.Quick-Links h2 {
  font-size: 25px;
  margin-bottom: 25px;
}

.Quick-Links a {
  margin: 10px 0;
  text-decoration: none;
  font-size: 20px;
  color: #868c98;

  display: block;
  transition: 0.3s;
}

.Quick-Links a:hover {
  margin-left: 5px;
  transition: 0.3s;
  color: #2577fd;
}

.New-Products {
  margin-top: 100px;
  margin-left: 300px;
  position: absolute;
  width: 250px;
  height: 200px;
  display: inline-block;
}

.New-Products a {
  margin: 10px 0;
  text-decoration: none;
  font-size: 20px;
  color: #868c98;

  display: block;
  transition: 0.3s;
}

.New-Products a:hover {
  margin-left: 5px;
  transition: 0.3s;
  color: #2577fd;
}

.New-Products h2 {
  font-size: 25px;
  margin-bottom: 25px;
}
.Support {
  margin-top: 100px;
  margin-left: 550px;
  position: absolute;
  width: 250px;
  height: 200px;
  display: inline-block;
}

.Support a {
  margin: 10px 0;
  text-decoration: none;
  font-size: 20px;
  color: #868c98;
  display: block;
  font-weight: 300;
  transition: 0.3s;
}

.Support a:hover {
  margin-left: 5px;
  transition: 0.3s;
  color: #2577fd;
}

.Support h2 {
  font-size: 25px;
  margin-bottom: 25px;
}

.copyright {
  margin-top: 100px;
  margin-left: 100px;
  font-size: 20px;
}

.copyright span {
  color: #00b1ff;
}

.icon-footer {
  top: 70vh;
  position: absolute;
  right: 100px;
  font-size: 20px;
}

.icon-footer .fab {
  margin: 0 5px;
}

.back-page {
  border-radius: 50%;
  background-color: #00b1ff;
  right: 50px;
  position: absolute;
  bottom: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 50px;
  transition: 0.2s;
}

.back-page a {
  color: #fff;
}

.back-page:hover {
  background-color: #2577fd;
  transition: 0.2s;
}

.home.openhome {
  display: none;
}

.catagori {
  display: none;
}

.catagori.openopencatagori {
  display: block;
}

.blog {
  display: none;
}

.blog.openblog {
  display: block;
}

.contact-us {
  display: none;
}

.contact-us.opencontact {
  display: block;
}

.slider-catagori {
  width: 100%;
  height: 500px;
}
.slider-catagori img {
  width: 100%;
  height: 100%;
}

.slide-blog {
  width: 100%;
  height: 500px;
}

.content-blog-1 {
  position: relative;
}

.slide-blog img {
  width: 100%;
  height: 100%;
}

.img-blog-1 {
  margin-left: 70px;
  margin-top: 100px;
}

.key-word {
  position: absolute;
  top: 0;
  right: 70px;
  background-color: #fbf9ff;
  height: 170px;
  width: 360px;
}

.key-word input {
  margin-top: 20px;
  margin-left: 27.5px;
  border: none;
  height: 50px;
  width: 250px;
  margin-bottom: 20px;
  font-size: 17px;
  padding-left: 20px;
}

.key-word .fas {
  width: 50px;
  height: 50px;
  background-color: #2577fd;
  color: #fff;
  font-size: 20px;
  padding-top: 15px;
  padding-left: 15px;
}

.search-blog {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin: auto;
  color: #fff;
  letter-spacing: 2px;
  font-size: 20px;
  width: 300px;
  background-color: #2577fd;
  height: 50px;
  transition: 0.2s;
}

.search-blog:hover {
  color: #000;
  transition: 0.2s;
  background-color: #fff;
  border: 1px solid #f00;
}

.list-blog {
  margin-top: -200px;
  position: absolute;
  background-color: #fbf9ff;
  height: 470px;
  width: 360px;
  right: 70px;
}

.list-blog h2 {
  font-size: 30px;
  margin-left: 30px;
  margin-top: 20px;
}

.list-blog ul li {
  font-size: 20px;
  margin: 40px 30px;
  list-style-type: none;
  color: #506172;
  transition: 0.3s;
}

.list-blog ul li:hover {
  transition: 0.3s;
  color: #f00;
}

.sub-image-blog-1 {
  box-shadow: 0 10px 20px 0 rgb(221 221 221 / 30%);

  margin-top: 30px;
  margin-left: 70px;
  width: 750px;
  height: 260px;
}

.sub-image-blog-1 h2 {
  font-size: 30px;
  transition: 0.3s;
  margin-left: 20px;
}

.sub-image-blog-1 h2:hover {
  color: #f00;
  transition: 0.3s;
}

.sub-image-blog-1 p {
  margin-top: 30px;
  color: #868c98;
  line-height: 1.6;
  font-size: 17px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.sub-image-blog-1 span {
  margin: 0 20px;
  margin-top: 10px;
  margin-left: 20px;
  color: #868c98;
}

.sub-image-blog-1 .fas {
  color: #868c98;
  margin-left: 20px;
}

.sub-blog {
  position: absolute;
  right: 70px;
  top: 700px;
  width: 360px;
  background-color: #fbf9ff;
  height: 620px;
}

.picture-1 {
  position: relative;
}

.sub-blog img {
  margin-left: 20px;
  margin-top: 50px;
  display: inline-block;
}

.sub-blog li {
  font-size: 20px;
  position: absolute;
  top: 70px;
  margin-left: 20px;
  display: inline-block;
  transition: 0.3s;
}

.sub-blog li:hover {
  transition: 0.3s;
  color: #f00;
}

.sub-blog span {
  position: absolute;
  top: 100px;
  margin-left: 120px;
  display: block;
  color: #868c98;
}

.sub-blog h2 {
  margin-left: 30px;
  margin-top: 20px;
}

.TagClouds {
  padding-top: 20px;
  margin-top: 100px;
  background-color: #fbf9ff;
  height: 230px;
  width: 360px;
}

.TagClouds h2 {
  margin-left: 30px;
  font-weight: 300;
}

.project-blog {
  margin: 5px 0px;
  display: inline-block;
  padding: 10px 25px;
  background-color: #fff;
  color: #868c98;
  transition: 0.3s;
}

.project-blog:hover {
  background-color: #f00;
  color: #fff;
  transition: 0.3s;
}

.blog-projek {
  margin-left: 20px;
  margin-top: -160px;
}

.InstagramFeeds {
  margin-top: 70px;
  background-color: #fbf9ff;
  height: 350px;
  width: 360px;
  position: absolute;
  right: 0px;
}

.InstagramFeeds h2 {
  margin-left: 30px;
  margin-top: 20px;
}

.block-image {
  margin-top: -20px;
  display: inline-block;
}

.Newsletter {
  margin-top: 470px;
  position: absolute;
  right: 0;
  background-color: #fbf9ff;
  height: 250px;
  width: 360px;
}

.Newsletter input {
  padding-left: 20px;
  font-size: 17px;
  color: #000;
  background-color: #fff;
  height: 50px;
  width: 300px;
  border: none;
  margin-left: 27.5px;
  margin-top: 30px;
}

.subcribe {
  background-color: #2577fd;
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: 27.5px;
  height: 50px;
  width: 300px;
  transition: 0.3s;
}

.subcribe:hover {
  background-color: #fff;
  transition: 0.3s;
  color: #000;
  border: 1px solid #f00;
}

.slider-contact-us {
  height: 500px;
  width: 100%;
}

.slider-contact-us img {
  height: 100%;
  width: 100%;
}

#map {
  margin-top: 100px;
  position: absolute;
  transform: translate(-50%);
  left: 50%;
}

.GetinTouch {
  margin-left: 70px;
  margin-top: 700px;
  text-align: center;
  position: relative;
}

.GetinTouch h2 {
  margin-left: -1050px;
  left: 30px;
  margin-bottom: 30px;
  font-size: 30px;
}

.GetinTouch textarea {
  display: block;
  padding-top: 10px;
  padding-left: 20px;
  height: 200px;
  width: 750px;
}

.GetinTouch input {
  margin-top: 30px;
  width: 360px;
  height: 50px;
  border: 1px solid #868c98;
  padding-left: 20px;
}

.GetinTouch input:nth-child(2) {
  margin-left: 20px;
}

.GetinTouch input:nth-child(3) {
  width: 750px;
}

.input-contact {
  width: 750px;
  height: auto;
}

.icon-contact {
  position: absolute;
  right: 70px;
  margin-top: -350px;
}

.icon-contact2 {
  position: absolute;
  right: 70px;
  margin-top: -300px;
}

.icon-contact3 {
  position: absolute;
  right: 70px;
  margin-top: -300px;
}

.icon-contact .fas {
  margin-top: 10px;
  font-size: 30px;
  display: inline-block;
  margin-right: 20px;
  position: absolute;
  right: 210px;
}

.icon-contact li {
  margin-top: 5px;
  right: 0px;
  width: 200px;
  position: absolute;
  display: inline-block;
  list-style-type: none;
}

.icon-contact span {
  width: 200px;
  margin-top: 25px;
  display: block;
  font-size: 17px;
  color: #868c98;
  position: absolute;
  right: 0px;
}

.icon-contact2 .fas {
  font-size: 30px;
  display: inline-block;
  margin-right: 30px;
  margin-left: 30px;
  position: absolute;
  right: 210px;
  margin-top: 30px;
}

.icon-contact2 li {
  margin-top: 25px;
  width: 200px;
  position: absolute;
  display: inline-block;
  list-style-type: none;
  right: 0px;
}

.icon-contact2 span {
  width: 200px;
  position: absolute;
  margin-top: 45px;
  right: 0px;
  display: block;
  font-size: 17px;
  color: #868c98;
}

.icon-contact3 .fas {
  margin-top: 100px;
  font-size: 30px;
  display: inline-block;
  margin-right: 30px;
  position: absolute;
  right: 200px;
}

.icon-contact3 li {
  margin-top: 95px;
  width: 200px;
  position: absolute;
  display: inline-block;
  list-style-type: none;
  right: 0px;
}

.icon-contact3 span {
  width: 200px;
  position: absolute;
  margin-top: 115px;
  right: 0px;
  display: block;
  font-size: 17px;
  color: #868c98;
}
